In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn.linear_model as lm
import pickle
from sklearn.externals import joblib

In [2]:
df=pd.read_csv("insuranc.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [4]:
value=np.random.rand(len(df))<.8
train=df[value]
test=df[~value]

In [5]:
print(train)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1337   61  female  29.070         0    yes  northwest  29141.36030

[1071 rows x 7 columns]

In [6]:
print(test)

      age     sex     bmi  children smoker     region      charges
8      37    male  29.830         2     no  northeast   6406.41070
11     62  female  26.290         0    yes  southeast  27808.72510
22     18    male  34.100         0     no  southeast   1137.01100
27     55  female  32.775         2     no  northwest  12268.63225
30     22    male  35.600         0    yes  southwest  35585.57600
...   ...     ...     ...       ...    ...        ...          ...
1311   33  female  26.695         0     no  northwest   4571.41305
1320   31    male  31.065         3     no  northwest   5425.02335
1323   42  female  40.370         2    yes  southeast  43896.37630
1328   23  female  24.225         2     no  northeast  22395.74424
1336   21  female  25.800         0     no  southwest   2007.94500

[267 rows x 7 columns]

In [7]:
regr=lm.LinearRegression()
train_x=np.asanyarray(train[["age","bmi"]])
train_y=np.asanyarray(train[["charges"]])
regr.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
print(regr.coef_)

[[239.01639406 320.50484426]]

In [9]:
print(regr.intercept_)

[-6198.96554163]

In [10]:
#Saving the model
joblib.dump(regr,"model.pkl")

['model.pkl']

In [11]:
test_x=np.asanyarray(test[["age","bmi"]])
test_y=np.asanyarray(test[["charges"]])
prediction=regr.predict(test_x)
print(prediction)

[[12205.30054276]
 [17046.12324552]
 [ 9032.54474066]
 [17451.48240214]
 [10469.36758328]
 [ 7508.78449129]
 [12159.86982303]
 [19508.24183332]
 [17864.05198227]
 [13893.64021676]
 [20912.77390643]
 [14960.76053443]
 [ 8179.19965733]
 [10216.24822768]
 [11817.09045339]
 [ 9827.31541207]
 [11894.73060028]
 [15594.15682966]
 [19129.88530338]
 [16579.46894067]
 [ 7755.33293629]
 [17970.53943612]
 [ 9687.41523465]
 [12516.1902417 ]
 [17306.85412342]
 [23387.95297308]
 [16208.48551893]
 [15444.96126336]
 [ 9271.56113472]
 [ 7444.68352244]
 [14792.81524764]
 [11521.74355552]
 [13100.54966995]
 [14671.50397699]
 [10440.04157713]
 [ 3218.58686579]
 [16828.82133531]
 [ 5453.46677062]
 [12782.2887338 ]
 [10875.12596772]
 [13635.23271833]
 [11818.29187881]
 [11943.04661201]
 [13257.27728719]
 [ 8671.81597715]
 [ 6976.34535102]
 [17125.68941505]
 [16716.8849249 ]
 [ 6670.42403847]
 [11051.3241607 ]
 [19179.32326915]
 [15740.70738905]
 [14024.56476175]
 [ 7516.55682731]
 [13560.23383638]
 [12900.95499754]
 [12374.28644125]
 [20202.45644858]
 [11198.35529025]
 [ 5471.73592094]
 [12232.70426824]
 [11070.15335255]
 [ 9307.37670912]
 [ 6258.81559868]
 [16073.71267063]
 [13178.11221646]
 [17992.41473369]
 [16411.6844676 ]
 [13680.18286789]
 [ 8383.36161732]
 [18241.60631461]
 [18804.17365864]
 [11995.12958469]
 [10372.25498967]
 [11942.0060003 ]
 [ 5836.22977442]
 [15377.9768735 ]
 [11100.03940024]
 [16057.2882006 ]
 [11412.13052459]
 [ 9219.87926084]
 [11159.41226779]
 [19663.52586907]
 [ 9480.04822622]
 [21649.05337926]
 [19956.78780157]
 [13866.23649128]
 [12348.24495491]
 [ 8951.05629046]
 [12461.30331937]
 [18753.93349526]
 [ 9229.013836  ]
 [15741.8293431 ]
 [15165.48253595]
 [12609.6172167 ]
 [17252.93021242]
 [17454.52663687]
 [22103.92997302]
 [ 8151.15641895]
 [16267.13753124]
 [16516.17016942]
 [13755.26122121]
 [13429.78799057]
 [ 7636.58533019]
 [ 8085.69321096]
 [12195.28429863]
 [17421.99558227]
 [13794.68294286]
 [18886.06320764]
 [13097.42596386]
 [20100.85603875]
 [10054.95519385]
 [20433.85944934]
 [ 7661.74514757]
 [ 8558.67814133]
 [12584.37792796]
 [15294.72508536]
 [ 9140.71419011]
 [ 8729.66766284]
 [16350.78854719]
 [11035.37838985]
 [13573.85622775]
 [17128.73364978]
 [ 9075.25098212]
 [15277.98085888]
 [10503.26087701]
 [10851.88843102]
 [18229.42750472]
 [19160.8951761 ]
 [16191.09803758]
 [13604.86610048]
 [11924.61851895]
 [18189.84496936]
 [ 7617.91508107]
 [12212.91206507]
 [12758.97172573]
 [16821.209813  ]
 [10392.12479322]
 [12233.18483841]
 [18189.28492782]
 [17404.60810092]
 [17743.7831943 ]
 [18199.38064332]
 [14012.38595187]
 [12260.10612274]
 [ 5314.92883233]
 [16572.97937242]
 [10374.25674171]
 [ 8597.218194  ]
 [12625.48164519]
 [13134.36349232]
 [ 9125.48927451]
 [19951.25937365]
 [16673.29701448]
 [10588.51441719]
 [10634.18729299]
 [ 7948.67645455]
 [ 8309.48468942]
 [ 7709.66006049]
 [13407.99403536]
 [15357.78544251]
 [ 5678.78130193]
 [12501.52723862]
 [ 9804.56031653]
 [16979.21832703]
 [ 7978.64384458]
 [17451.48240214]
 [16183.32570156]
 [14080.89339458]
 [ 8769.24832722]
 [ 9463.94351264]
 [10212.96370787]
 [ 8332.32112732]
 [10721.76421264]
 [11713.08532174]
 [14411.25366925]
 [22483.2476433 ]
 [10503.25900603]
 [ 6532.84724052]
 [ 5558.51251397]
 [17323.44127816]
 [10431.38757214]
 [12695.51214076]
 [11894.73060028]
 [19260.81171935]
 [ 5842.15930114]
 [16716.8849249 ]
 [ 5542.24698667]
 [20523.92243317]
 [15313.79643328]
 [13997.00209354]
 [ 8070.46829536]
 [14867.97307232]
 [ 8778.38290238]
 [ 9511.61814048]
 [13730.74278772]
 [15879.80723985]
 [11944.32937978]
 [20669.67079496]
 [13319.69626045]
 [ 8339.93264963]
 [10017.93632304]
 [10530.50191779]
 [19063.46095505]
 [ 9001.45539657]
 [ 6685.08704154]
 [ 8315.57502986]
 [15073.49727145]
 [14585.84933801]
 [15801.20221065]
 [16932.02426936]
 [14018.47442132]
 [ 7163.11982966]
 [10647.08695813]
 [10670.4039662 ]
 [19227.80009459]
 [13146.62364455]
 [ 9362.26363145]
 [17029.45849041]
 [12999.9936138 ]
 [16530.0309749 ]
 [10773.12445909]
 [20334.90404643]
 [ 8755.54833546]
 [13487.80048997]
 [ 9499.99937213]
 [ 8385.60552543]
 [14622.30816728]
 [13963.66884134]
 [12107.86632171]
 [11715.08894476]
 [ 7294.04624564]
 [ 7963.90137014]
 [17736.171672  ]
 [16343.17702489]
 [ 4984.56855766]
 [10647.88915573]
 [11399.9517147 ]
 [12684.13552848]
 [11364.69618183]
 [18220.93431345]
 [17282.49650365]
 [20943.94272189]
 [11105.40888542]
 [12793.74668843]
 [11111.4178835 ]
 [12228.13698066]
 [17652.43931369]
 [ 8026.31847242]
 [16200.07179903]
 [16713.27877766]
 [ 9493.91090268]
 [10885.38249693]
 [12713.78129108]
 [20015.3603425 ]
 [11209.25320335]
 [15317.48205189]
 [13047.18580048]
 [ 5632.46891323]
 [10488.03596142]
 [ 6593.74316093]
 [13920.96259989]
 [10244.45227978]
 [11167.02566108]
 [16778.50357155]
 [ 7062.64137388]
 [ 7089.40371548]]

In [13]:
predict_df=pd.read_csv("check.csv")
predict_df.head()

   age  bmi  charges
0   18   27        0

In [14]:
predict_x=np.asanyarray(predict_df[["age","bmi"]])
prediction=regr.predict(predict_x)
print(prediction)

[[6756.96034642]]